// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
// @import '../Semantic-UI-LESS/definitions/elements/icon';


@support-color: #A7E8BD;
@not-support-color:  red;
@not-found-color: yellow;

.common {
  margin-left: 2px;
  margin-right: 2px;
  float: left;
  display: inline-block;
}

.caniuse-css {
  display: inline-block;
  .support {
    color: @support-color;
    .common;
  }

  .not-support {
    color: @not-support-color;
    .common;
  }

  .not-found {
    color: @not-found-color;
    .common;
  }

  .attribute {
    color: green;
    .common
  }
}
